#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY="XXXXXXXXXX"

# .env
FID=encrypted:XXXXX
PK=encrypted:XXXXX
NEYNAR_API_KEY=encrypted:XXXXX
